<div class="page-header">
  <div class="pull-right">
    <%= link_to "Edit Person", edit_person_path(@person), class: "pull-right btn btn-info" %>
  </div>
  <h1><%= @person.title %> <%= @person.first_name %> <%= @person.last_name %></h1>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Assignments</th>
    <th><div class="pull-right"><%= link_to '+ Add Location', new_person_assignment_path(@person) %></div></th>
  </tr>
  </thead>
  <tbody>
  <!--  put person locations here  -->
    <tr>
      <td>
        <!--  location names  -->
      </td>
    </tr>
  <!-- end -->
  </tbody>
</table>
